body{
    --color-primary:#009579;
    --color-primary-dark:#085c36;
    --color-secondary:#1961e6;
    --color-error:red;
    --color-success:lightgreen;
    --border-radius:4px;


  margin:0;
  height: 100vh;
  display: flex;
 align-items: center;
  font-size: 18px;
  background: url(./backimg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
 
}

.container{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 54%;
    box-shadow: 0px 0px 10px black;
    border-radius: var(--border-radius);
    margin-left: 5%;
    height: 90vh;
    position: relative;
   

}
.container-left-col{
    flex-basis: 30%;
}
.container-left-col i{
 font-size: 250px;
 padding-right:10px;
 position: absolute;
top:28%;
left:3%;
max-width: 400px;
z-index: 1;

}
.container-right-col { 
    flex-basis: 50%;
    width: 100%;
    max-width: 400px;
    padding: 1rem 2rem;
    position: absolute;
 border-left: 1px solid gray;
  left: 35%;
  z-index: 2;
}
.container-right-col,.input_msg,.form_btn{
    font-family: 'Roboto', sans-serif;
    color: black;
  
}
.form >*:first-child{
    margin-top: 0;
}
.form >*:last-child{
    margin-bottom: 0;
}
.header,.form_msg{
    text-align: center;
    margin-bottom: 1rem;
}
.form .input_group{
    width: 100%;
   margin-bottom: 15px;
}
.input_group .input_msg{
    padding: 0.5rem;
    width: 100%;
  border-radius: var(--border-radius);
  border: none;
  margin-top: 3px;
  outline: none;
}
.input_group input:hover{
  
    border:1px solid #835d99;
}
.input_group label{
    font-weight: 550;
}
.input_group.success i.fa-circle-check {
   color: var(--color-success);
   visibility: visible;
}
.input_group.fail i.fa-circle-exclamation {
    color: var(--color-error);
    visibility: visible;
}

.input_group.fail input{
    border: 1px solid red;
}

.input_msg-error {
    color: red;
    font-size: 15px;

    font-family: 'Poppins', sans-serif;

}
.input_group.success input{
    border: 1px solid var(--color-success);
}


 .font_user i{
    position:absolute;
    right: 20px;
    top:28%;
    visibility: hidden;
}
.font_pass i{
    position: absolute;
    right: 20px;
    top:52%;
    visibility: hidden;
}
.font_name i{
    position: absolute;
    right: 20px;
    top:20%;
    visibility: hidden;
}
.font_email i{
    position: absolute;
    right: 20px;
    top:38%;
    visibility:hidden;
}

.font_pass1 i{
    position: absolute;
    right: 20px;
    top:55% ;
    visibility: hidden;
}

.font_pass2 i{
    position: absolute;
    right: 20px;
    top:72%;
    visibility: hidden;
}


    
.form_btn,.form_btn1{
    width: 30%;
    padding: 0.5rem;
   font-weight: 550;
   cursor: pointer;
   border-radius: var(--border-radius);
   border: none;
   outline: none;
   animation-name: color;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   color:white;
}
.link a {
    display: inline-block;
    font-size: 12px;
    padding: 0 5px;
    text-decoration: none;
    color: gray;

}
.link a:hover{
    text-decoration: underline;
    transform: scale(1.2);
}
.link{
    margin:40px;
    margin-bottom: 10px;
    border-top: 1px solid gray;
    text-align: center;

}
.social{
    font-size: 30px;
    margin-left: 30%;
    padding: 0 10px;
    cursor: pointer;
    
}

@keyframes color {
    0%{background-color:lightgreen}
    25%{background-color: #835d99}
    50%{background-color: black}
    100%{background-color: greenyellow}
    
}
.form_btn:hover{
      transform: scale(1.05);
}
.form_btn:focus{
    transform: scale(0.98);
}
.form_text{
    text-align: center;
}
.form_link{
    text-decoration: none;
   color:rebeccapurple;
}
.form_link:hover{
text-decoration: underline;
}
.form-hidden{
   display: none;
}



@media only screen and (max-width:700px){
.container{
        position: relative;
        box-shadow: 0px 0px 10px black;
        border-radius: var(--border-radius);
        
    }
   
.container-right-col {
        position: absolute;
        z-index: 2;
        left: 10%;
        border: none;
        top:5%;
        padding: 10px;
    }
.input{
        position:absolute;
       width: 50%;
       margin-top:15%;
       top: 30px;
         }

.container-left-col i{
   opacity: 0.1;
   position: absolute;
   left:45px;
   top:70px;
   font-size: 400px;
}
.form_text1{
    font-size: 15px;
 
  position: absolute;
  top:300px;
  left:80px;
}
.form_text2{
    font-size: 15px;
 position: absolute;
  top:330px;
  left: 50px;
}
.form_text{
    font-size: 15px;
 
  position: absolute;
 top:40px;
 left:80px
}
.input_msg{
    margin-left: 20px;
}

.container{
   display: contents;
}

.header{
    text-align: center;
    position: absolute;
    top: 0;
    margin-left: 50px;
    border-bottom: 1px solid grey;
    
}
.font_user i{
    position:absolute;
   left:105%;
   top:35px;
    visibility: hidden;
}
.font_pass i{
    position: absolute;
    left:105%;
    top:110px;
    visibility: hidden;
}
.font_name i{
    position: absolute;
  left: 105%;
    top:8%;
    visibility: hidden;
}
.font_email i{

    position: absolute;
   left: 105%;
    top:31%;
    visibility:hidden;
}

.font_pass1 i{
    position: absolute;
   left:105%;
    top:54% ;
    visibility: hidden;
}

.font_pass2 i{
    position: absolute;
   left:105%;
    top:76%;
    visibility: hidden;
}

}
